<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body style="padding: 50px">
    <!-- nav bar -->
    <%- include('partials/navbar-private') -%>
    <h1>Auction</h1>
      <!-- auction cards -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
        <% art.forEach(piece => { %>
            <div class="col">
            <div class="card h-100">
              <img src="<%= piece.artImage %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= piece.artArtist %></h5>
                <p class="card-text"><%= piece.artTitle %></p>
                <p class="card-text"><%= piece.artYear %></p>
                <p class="card-text"><%= piece.artDetails %></p>
                <p class="card-text"><small class="text-muted">current bid</small></p>
                <div class="card-footer">
                <!-- bid form -->
                <form action="/users/auction" method="POST" class="form-group">
                    <input type="hidden" name="userID" value="<%= user.id %>">
                    <input type="number" name="bidAmount" placeholder="enter bid" class="form-control">
                    <button type="submit" class="btn btn-default btn-dark">Submit Bid</button>
                </form>
                <!-- modal trigger button -->
                <button type="" class="card-button btn btn-dark btn-lg" data-toggle="modal" data-target="#myModal">Details</button>
                </div>
                <!-- modal -->
                <div id="myModal" class="modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title"><%= piece.artTitle %></h4>
                    </div>
                        <img src="<%= piece.artImage %>">
                    <div class="modal-body">
                        <p><%= piece.artDetails %></p>
                    </div>
                    <div class="modal-footer"></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div> 
              </div>
            </div>
        </div>
        <% }) %>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>