<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ArtAuction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a> -->
            <a class="nav-item nav-link" href="/auction/<%= user.id %>">Auction</a>
            <a class="nav-item nav-link" href="/profile/<%= user.id %>">Profile</a>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </nav>

    <h1>Auction</h1>
    


    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-3">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=tiles">
                    </div>
                    <a class="card-action" href="" onclick="updateLikes()"><i class="fa fa-heart"></i></a>
                    <div class="card-heading">
                        Artwork Title: 
                    </div>
                    <div class="card-text">
                        Artwork Details:
                    </div>
                    <div class="card-text">
                        Current Bid:
                    </div>
                    <div class="card-text">
                         Bid:
                    </div>

                    <form action="/users/auction" method="POST">
                        <h5>Enter Bid</h5>
                        <input type="number" name="userID" value="<%= user.id %>">
                        <input type="number" name="bidAmount">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Bid</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>


                       <!-- Trigger the modal with a button -->
                       <button type="" class="card-button btn btn-light btn-lg" data-toggle="modal" data-target="#myModal">Bid</button>

                       <!-- Modal -->
                    <div id="myModal" class="modal" role="dialog">
                        <div class="modal-dialog">

                           <!-- Modal content-->
                           <div class="modal-content">

                            <div class="modal-header">
                                    <h4 class="modal-title">Enter Bid</h4>
                                </div>
                                <img src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=tiles">

                                <div class="modal-body">
                                    <p>Artist:</p>
                                    <p>Title:</p>
                                    <p>Description:</p>
                                </div>
                                        <!-- <div class="modal-footer">
                                            <form action="/auction" method="POST">
                                                <h5>Enter Bid</h5>
                                                <input type="number" name="userID" value="<%= user.id %>">
                                                <input type="number" name="bidAmount">
                                                <button type="submit" class="btn btn-default" data-dismiss="modal">Bid</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </form>
                                        </div> -->
                           </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>  
    </div> 
 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>