<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body class="padding: 50px">
<!-- nav bar -->
<%- include('partials/navbar-private') -%>
<!-- User's Bid Ledger w Delete Button & Details Button -->
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"><%= user.firstName %>'s Current Bids</h2>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">LOT#</th>
                                <th scope="col">Bid Amount</th>
                                <th scope="col">Artwork</th>
                                <th scope="col">Withdraw</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <% bidHistory.forEach(userBid => { %>
                                <th scope="row"><%= userBid.artID%></th>
                                <td>$<%= userBid.bidAmount%></td>
                                <td>
                                 <a href="/details/<%= userBid.artID %>/<%= userBid.userID %>"><button type="" class="card-button btn btn-light" data-toggle="modal" name="artID" value="<%= userBid.artID%>" data-target="#myModal">Details</button></a> 
                                </td> 
                                <td>
                                  <form action="/users/profile" method="POST" class="form-group">
                                  <input type="hidden" name="bidID" value="<%= userBid.id %>">
                                  <input type="hidden" name="artID" value="<%= userBid.artID %>">
                                  <input type="hidden" name="userID" value="<%= userBid.userID %>">
                                  <button type="submit"  class="card-button btn btn-light">Delete</button>
                                </form>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>